body{
margin: 0;
position:fixed;
height: 100vh;
width: 100vw;
background-size: cover;
background-image:url('calcutorBackdrop.jpg');
}

.outerContainer{
 position: relative;
 left: 33.5%;
 top: 15%;
 height: 75%;
 width:42% ;
 display: flex;
 flex-direction: row;
 justify-content: center;
 background-color: rgb(150, 146, 146);
 border-radius: 10px;
 flex-wrap: wrap;
 flex: 1 1 1 auto ;
}
/* Calculation Display Grid ......................... */
.display{
    display:flex;
    height: 15%;
    width: 78%;
    background-color: white;
    margin-top: 45px;
    align-items:end;
    border-radius: 8px;
    box-shadow: 5px;
    font-size: 54px;
    font-family: 'Noto Serif Old Uyghur', serif;
    flex-wrap: wrap;
}
/* All Inputs Parent Div ......................... */
.inputParent{
    display: flex;
    flex-direction: row;
border: 2px solid black;
height:65%;
width: 78%;
flex-wrap: wrap;
justify-content: space-between;
}
/*Parent number Input Div................... */
.numberInput{
    border: 2px solid white;
    height: 99%;
    width: 48%;
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
flex-basis: 1 1 1 auto; 
justify-content: space-evenly;

}
/* Number input buttons ................ */
.numInputsButtons{
height: 16%;
width:28%;
margin-top: 25px;
margin-left: 8px;
border-radius: 15px;
font-family: 'calculator', sans-serif;
font-size: 30px;
font-weight: 600;
}
/* Math operation buttons .............*/


.mathOpInput{
    /* margin-top: 15px; */
    border: 2px solid white;
    height: 59%;
    width: 25%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-basis: 1 1 1 ; 
justify-content:flex-start;
align-items: flex-end;
margin-left: 450px;
margin-top:-370px ;


}
 
.MathOpButtons{
        height: 16%;
        width:88%;
        border-radius: 15px;
     font-family : 'calculator', sans-serif;
    font-size: 30px;
    font-weight: 600;
    
    }
    
    .equals{
        height: 16%;
        width:55%;
        border-radius: 15px;
     font-family : 'calculator', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: -70px;
    margin-left: 415px;
    }

    .clear{
        height: 16%;
        width:28%;
        border-radius: 15px;
     font-family : 'calculator', sans-serif;
    font-size: 30px;
    font-weight: 600;
    }