body{
margin: 0;
position:fixed;
height: 100vh;
width: 100vw;
background-size: cover;
background-image:url('calcutorBackdrop.jpg');
}

.outerContainer{
 position: relative;
 left: 33.5%;
 top: 15%;
 height: 75%;
 width:42% ;
 display: flex;
 flex-direction: row;
 justify-content: center;
 background-color: rgb(150, 146, 146);
 border-radius: 10px;
 flex-wrap: wrap;
 flex: 1 1 1 auto ;
}
/* Calculation Display Grid ......................... */
.display{
    display:flex;
    height: 15%;
    width: 78%;
    background-color: white;
    margin-top: 45px;
    justify-content: flex-end;
    align-items:end;
    border-radius: 8px;
    box-shadow: 5px;
    font-size: 54px;
    font-family: 'Noto Serif Old Uyghur', serif;
    flex-wrap: wrap;
}
/* All Inputs Parent Div ......................... */
.inputParent{
    display: flex;
    flex-direction: row;
border: 2px solid black;
height:65%;
width: 78%;
flex-wrap: wrap;
justify-content: space-between;
}
/*Parent number Input Div................... */
.numberInput{
    border: 2px solid white;
    height: 99%;
    width: 62%;
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
flex-basis: 1 1 1 auto; 
justify-content: space-evenly;

}
/* Number input buttons ................ */
.numInputsButtons{
height: 16%;
width:28%;
margin-top: 25px;
margin-left: 8px;
border-radius: 15px;
font-family: 'calculator', sans-serif;
font-size: 30px;
font-weight: 600;
}
/* Math operation buttons .............*/

.operators{
    position:relative;
    border: 4px solid white;
    height:99%;
    width: 35%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1 1 1 auto;
    box-sizing: content-box;
    justify-content: space-between;
    
}

.equals{
height: 80px;
width: 160px;
font-size: 30px;
font-weight: 600;
margin-left: 15px;
margin-bottom: 15px;
border-radius: 10px;
flex: 1 1 1 auto;
flex-wrap: wrap;
}

.mathOpInput{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -16px;
    margin-left: 16px;
    flex: 1 1 1 auto;
    flex-wrap:wrap ;
}

.MathOpButtons{
    height: 62px;
    width: 160px;
    font-size: 30px;
    font-weight: 600;
    align-content: space-between;
    border-radius: 10px;
    margin-bottom: 3px;
    flex: 1 1 1 auto;
    flex-wrap: wrap;
}


.clear{
    width: 80px;
    height: 70px;
    font-size: 32px; 
    font-weight: 1000;
    margin-left: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-top: 15px;
    text-align:center;
    flex: 1 1 1 auto;
    flex-wrap: wrap;
}
.power{
    width: 80px;
    height: 70px;
    font-size: 30px; 
    font-weight: 600;
    margin-left: 95px;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-top: -90px;
    text-align:center;
  flex: 1 1 1 auto;
  flex-wrap: wrap;
}
















    